{% extends 's3objects/base.html' %}

{% block content %}
    {% if user.is_authenticated and sel_file.owner == user %}
        <form class="text-center" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="title">{{ sel_file.file.name }}</h1>
            <div class="ownerfn">Owner FN: {{ sel_file.owner.first_name }}</div>
            <div class="ownerln">Owner LN: {{ sel_file.owner.last_name }}</div>
            <div class="uploadtime">Uploaded at: {{ sel_file.uploadTime|date:'Y / m / d  H:i:s' }}</div>
            <div class="updatetime">Last updated:{{ sel_file.updateTime|date:'Y / m / d  H:i:s' }}</div>
            <h2 class="deletion-confirm">Are You Sure?</h2>
            <input type="submit", value="Delete" />
        </form>
        <form class="text-center" action="{% url 'home' %}">
            <input type="submit", value="Cancel" />
        </form>
    {% endif %}
{% endblock %}